* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}

body {
  font-size: 16px;
  max-width: 1200px;
}
.grid-container {
  display: grid;
  grid-template-columns: 44rem 18.5rem;
  padding: 1rem;
  width: 100vw;
}

/* grupo de lado izquierdo */
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 30px;
  height: 30px;
}
.boton-inicio {
  width: 5rem;
  border-radius: 40px;
}

.boton-inicio p {
  font-size: 2rem;
  padding: 5px;
}

.boton-hoy {
  width: 5rem;
  height: 3rem;
  border-radius: 40px;
  background-color: black;
}
.boton-hoy p {
  font-size: 2rem;
  padding: 5px;
  color: white;
}

.main-input-container {
  width: 31rem;
  border-radius: 80px;
  display: flex;
  align-items: center;
  background-color: #dfe1e5;
}

.main-input input {
  width: 31rem;
  height: 50px;
  outline: none;
  border: none;
  background-color: transparent;
}

.main-input .search-icon {
  background-image: url("https://img.icons8.com/android/24/000000/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  opacity: 0.4;
  padding-right: 10px;
  margin-left: 20px;
}

/* grupo de la derecha 
================*/
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icons img {
  width: 30px;
  height: 30px;
}

/* cards with grid 
====================== */
